.card-container div:last-child {
  margin-bottom: 0 !important;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.remove-btn {
  cursor: pointer;
}

.promocode-container {
  gap: 1.5rem;
}
