<div class="d-flex">
  <div class="p-2 w-100">
    <img src={{product.imageUrl}} class="img-fluid rounded-3" aria-label="Product plaatje" alt="{{ product.name }}">
    <h5 aria-label="Product naam">{{ product.name }}</h5>
    <p aria-label="Product prijs">{{ product.price | currency }}</p>
    <p>
      <small aria-label="Product category">{{ product.category }}</small>
    </p>
    <p>
      <small aria-label="Product beschrijving ">{{ product.description }}</small>
    </p>
    <p>
      <small aria-label="Product fitting">{{ product.fitting }}</small>
    </p>
  </div>
  <div class="p-2 flex-shrink-1">
      <a [routerLink]="[product.id]" aria-label="Meer zien" class="btn btn-secondary ps-3 ms-5"  >Meer zien</a> 
  </div>
</div>
<hr>
